[submodule "derivatives/fmriprep-20.1.0"]
	path = derivatives/fmriprep-20.1.0
	url = git@github.com:courtois-neuromod/hcptrt.fmriprep.git
	datalad-id = d7c57ad4-c6c4-11ea-9a78-98039b13f0b9
	branch = .
[submodule "derivatives/fmriprep-20.2lts"]
	path = derivatives/fmriprep-20.2lts
	url = git@github.com:courtois-neuromod/hcptrt.fmriprep-lts.git
	datalad-id = 770efdb3-0c65-45a1-acad-85c216378a13
	branch = .
[submodule "derivatives/mriqc-0.16"]
	path = derivatives/mriqc-0.16
	url = ./derivatives/mriqc-0.16
	datalad-id = 105d6ec7-e6ec-4142-be80-27c5f733b100
[submodule "stimuli"]
	path = stimuli
	url = ./stimuli
	datalad-id = 7f37f36f-e3ef-4c37-8586-f88cb489a24c
[submodule ".heudiconv"]
	path = .heudiconv
	url = ./.heudiconv
	datalad-id = e9810701-8dde-4065-98ec-585a2a0c8659
