[submodule "derivatives/fmriprep-20.1.0"]
	path = derivatives/fmriprep-20.1.0
	url = git@github.com:courtois-neuromod/hcptrt.fmriprep.git
	datalad-id = d7c57ad4-c6c4-11ea-9a78-98039b13f0b9
[submodule ".heudiconv"]
	path = .heudiconv
	url = ./.heudiconv
	datalad-id = 80a5f5a8-eeba-11ea-b6fe-3ea8d101da1a
